<?xml version="1.0" encoding="utf-8"?>
<LayoutRoot>
  <RootPanel Orientation="Horizontal">
    <LayoutPanel Orientation="Vertical" DockWidth="1.53420195439739*">
      <LayoutPanel Orientation="Horizontal" DockHeight="1.51559251559252*">
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.472623314917759*">
          <LayoutAnchorablePane Id="1d68f044-3c78-4d8c-930c-eb30630ffd98" DockHeight="0.79281289136495*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-596" FloatingTop="535">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Rotator" IsSelected="True" ContentId="RotatorVM" FloatingLeft="-156" FloatingTop="530" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/29/2025 00:33:28" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePane DockHeight="0.327344076137458*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Wheel" IsSelected="True" ContentId="FilterWheelVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/29/2025 22:00:56" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePane DockHeight="0.756540756527413*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-451" FloatingTop="229">
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Focuser" IsSelected="True" ContentId="FocuserVM" FloatingLeft="-454.666666666667" FloatingTop="374.666666666667" FloatingWidth="946.666666666667" FloatingHeight="600" CanClose="True" LastActivationTimeStamp="05/09/2024 22:01:11" />
            <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Flat Panel" ContentId="FlatDeviceVM" FloatingLeft="-451" FloatingTop="229" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 16:16:39" />
          </LayoutAnchorablePane>
          <LayoutAnchorablePaneGroup Orientation="Vertical" DockHeight="1.08371254948919*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
            <LayoutAnchorablePane DockHeight="0.805129860316277*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-158" FloatingTop="555">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Mount" IsSelected="True" ContentId="TelescopeVM" FloatingLeft="-158" FloatingTop="555" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="12/14/2018 15:56:45" />
            </LayoutAnchorablePane>
            <LayoutAnchorablePane Id="6af203ae-2027-4599-8162-efde9c9f0550" DockHeight="1.19487013968373*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="-155" FloatingTop="804">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Weather" IsSelected="True" ContentId="WeatherDataVM" FloatingLeft="-155" FloatingTop="804" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="08/30/2021 05:14:09" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="2.277397947018331*">
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="2.20655737704918*" DockHeight="1.53238905756892*">
            <LayoutAnchorablePane Id="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" Name="ToolsPane" DockWidth="2.1985459486496186*" DockHeight="1.54677754677755*">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image" IsSelected="True" ContentId="ImageControlVM" FloatingLeft="850" FloatingTop="432.666666666667" FloatingWidth="1370" FloatingHeight="689.333333333333" CanClose="True" LastActivationTimeStamp="07/30/2025 01:24:08" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Three Point Polar Alignment" ContentId="DockablePolarAlignmentVM" FloatingLeft="657" FloatingTop="540" FloatingWidth="722" FloatingHeight="495" CanClose="True" LastActivationTimeStamp="07/30/2025 01:24:05" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="2" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Filter Offset Calculator" ContentId="FilterOffsetCalculatorImagingTool" CanClose="True" LastActivationTimeStamp="07/30/2025 01:24:00" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Plate Solving" ContentId="PlatesolveVM" CanClose="True" LastActivationTimeStamp="07/30/2025 01:24:03" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Aberration Inspector" ContentId="InspectorVM" CanClose="True" LastActivationTimeStamp="09/14/2023 22:12:45" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Manual Focus Targets" ContentId="FocusTargetsVM" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Safety Monitor" ContentId="SafetyMonitorVM" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Annotation Options" ContentId="StarAnnotatorOptionsVM" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Options" ContentId="StarDetectionOptionsVM" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Horizon Creator" ContentId="HorizonCreatorDock" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="PixInsight Live Stacking" ContentId="LiveStackVM" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Device Actions and Commands" ContentId="DAaCDock" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Powerups Panel" ContentId="WhenPluginDockable" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Smart Filters" ContentId="SmartFiltersDockable" CanClose="True" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Target Scheduler" ContentId="ImagingDockableVM" CanClose="True" LastActivationTimeStamp="07/28/2025 21:21:18" />
            </LayoutAnchorablePane>
            <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="1.0082461224359573*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="209" FloatingTop="418">
              <LayoutAnchorablePane Id="3e8c39f5-5d07-4b31-b3f4-3ea783fb1cc7" DockWidth="1.46935248329573*" DockHeight="1.17629794555207*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="719" FloatingTop="382" />
              <LayoutAnchorablePane DockWidth="0.912682102823788*" DockHeight="1.54677754677755*" FloatingWidth="902" FloatingHeight="776" FloatingLeft="432.666666666667" FloatingTop="447.333333333333">
                <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Statistics" IsSelected="True" ContentId="ImageStatisticsVM" FloatingLeft="432.666666666667" FloatingTop="447.333333333333" FloatingWidth="902" FloatingHeight="776" CanClose="True" LastActivationTimeStamp="07/30/2025 00:23:24" />
              </LayoutAnchorablePane>
            </LayoutAnchorablePaneGroup>
          </LayoutAnchorablePaneGroup>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.467610942431086*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
            <LayoutAnchorablePane FloatingWidth="1370" FloatingHeight="689" FloatingLeft="175" FloatingTop="558">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="HFR history" ContentId="ImageHistoryVM" FloatingLeft="107.333333333333" FloatingTop="732.666666666667" FloatingWidth="1370" FloatingHeight="689.333333333333" CanClose="True" LastActivationTimeStamp="07/29/2025 23:44:51" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Guider" IsSelected="True" ContentId="GuiderVM" FloatingLeft="175" FloatingTop="558" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/30/2025 02:03:52" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
        <LayoutAnchorablePaneGroup Orientation="Vertical" DockWidth="0.6696508692114502*">
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockWidth="2.41916883252236*" DockHeight="1.54677754677755*">
            <LayoutAnchorablePane Id="60b85fdd-15dd-4a3c-9d56-cf68d75b6a2f" DockWidth="2.41916883252236*" DockHeight="1.54677754677755*" FloatingWidth="902" FloatingHeight="776" FloatingLeft="1107.33333333333" FloatingTop="532.666666666667">
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Autofocus" ContentId="AutoFocusVM" FloatingLeft="1498" FloatingTop="465" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/29/2025 23:57:43" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Sequence" IsSelected="True" ContentId="SequenceVM" FloatingLeft="1498" FloatingTop="465" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/30/2025 01:03:31" />
              <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Imaging" ContentId="ImagingVM" FloatingLeft="1107.33333333333" FloatingTop="532.666666666667" FloatingWidth="902" FloatingHeight="776" CanClose="True" LastActivationTimeStamp="07/29/2025 21:21:23" />
            </LayoutAnchorablePane>
          </LayoutAnchorablePaneGroup>
          <LayoutAnchorablePaneGroup Orientation="Horizontal" DockHeight="0.798447021649681*" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1019" FloatingTop="311">
            <LayoutAnchorablePane Id="43ed0102-c250-4bd7-89b7-6c810b2bacbc" FloatingWidth="1370" FloatingHeight="689" FloatingLeft="1019" FloatingTop="311" />
          </LayoutAnchorablePaneGroup>
        </LayoutAnchorablePaneGroup>
      </LayoutPanel>
    </LayoutPanel>
  </RootPanel>
  <TopSide />
  <RightSide />
  <LeftSide />
  <BottomSide />
  <FloatingWindows />
  <Hidden>
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Switch" IsSelected="True" ContentId="SwitchVM" CanClose="True" LastActivationTimeStamp="07/29/2025 12:06:46" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="1" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Image History" IsSelected="True" ContentId="ThumbnailVM" FloatingLeft="1019" FloatingTop="311" FloatingWidth="1370" FloatingHeight="689" CanClose="True" LastActivationTimeStamp="07/29/2025 12:06:46" PreviousContainerId="43ed0102-c250-4bd7-89b7-6c810b2bacbc" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Camera" IsSelected="True" ContentId="CameraVM" FloatingLeft="352.666666666667" FloatingTop="340.666666666667" FloatingWidth="946.666666666667" FloatingHeight="600" CanClose="True" LastActivationTimeStamp="07/29/2025 12:06:46" PreviousContainerId="3e8c39f5-5d07-4b31-b3f4-3ea783fb1cc7" PreviousContainerIndex="0" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Star Detection Results" IsSelected="True" ContentId="StarDetectionResultsVM" CanClose="True" LastActivationTimeStamp="07/29/2025 12:06:46" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="8" />
    <LayoutAnchorable AutoHideMinWidth="100" AutoHideMinHeight="100" Title="Dome" IsSelected="True" ContentId="DomeVM" CanClose="True" LastActivationTimeStamp="07/29/2025 12:06:46" PreviousContainerId="03f51ea3-4a7d-4433-837a-967e9a0d8c1d" PreviousContainerIndex="5" />
  </Hidden>
</LayoutRoot>